h1 {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}
h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color:white;
}
figcaption {
    font-weight: bold;
    font-size: 20px;
}
strong {
    color: blue;
    font-family: Helvetica;
    font-weight: bold;
}
.brushes {
    background-color: mediumspringgreen;
}
.frames {
    background-color: lightcoral;
}
.paint {
    background-color: skyblue;
}